fastapi
uvicorn
requests
python-dotenv
twilio
transformers
torch
googletrans
google-cloud-translate
huggingface-hub
sentencepiece
protobuf
accelerate
psycopg2-binary
sqlalchemy
google-generativeai
schedule
spacy
nltk
